.container {
    /* text-align: center; */
    width: 400px;
    margin: auto;
}

.wrapFormControl {
    min-height: 300px;
}

.formControl {
    margin-top: 20px;
}

.button {
    display: flex;
    justify-content: end;
    margin-top: 40px;
}