.container {
    /* text-align: center; */
    width: 400px;
    margin: auto;
}

.wrap {
    display: flex;
    justify-content: space-between;
}

.wrapFormControl {
    min-height: 300px;
}

.formControl {
    margin-top: 20px;
}

.icon {
    margin-top: 30px;
}

.item {
    display: flex;
    justify-content: space-between;
}

.numberNotification {
    color: red;
}

.button {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}